<div class="row">
    <div class="col-5">
        <div class="card border m-3">
            <form>
                <div class="m-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="emailid" aria-describedby="emailHelp">
                </div>
                <div class="m-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="m-3">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>